.modalfooteradd {
    padding:0;
    height:45px;
    clear:both;
    text-align:center !important;
    padding:0 !important;
}
.modalfooteradd a { 
    display: block;
    width: 50%;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    float: left;
    cursor: pointer;
}

.modalfooteradd a:hover{
text-decoration: none
}